

main h1{
   text-align: center;
}
body header img{
   margin: 10px;
}
.imagen{
   padding: 5px;
   width: 400px;
   height: 280px;
}
.bordeImagen{
   border: 2px solid black;
   margin: 0px;
   padding: 0px;
}
 footer p {
    color: aqua;
}
.nosotros{
   background-color:rgb(145, 233, 233);
   margin: 15px;
   padding: 20px 70px 70px 70px;
   border: 1px solid black;
}
.nosotros h2{
   width: 850px;
   height: 300px;
   color: blue;
   background-color: beige;
   overflow: auto; 
}
.navegacion{
   background-color: rgb(79, 112, 219);
}
.navegacion ul li a{
   color: black;
}
.menu li{
   display: inline-block;
   position: relative;
   font-size: 20px;
   padding: 0 10px;
}
.menu li a{
   text-decoration: none;
   
}
.submenu{
   display: none;
   position: absolute;
}
.submenu li{
   display: block;
   background-color: bisque;
}
.menu li:hover ul{
   display: block;
}
.clasePrueba{
   display: flex;
}
@keyframes colorLetra{
   0%{
      color: rgb(214, 10, 10);
   }
   40%{
      color: rgb(170, 49, 19);
   }
   70%{
      color: black;
   }
   100%{
      color: black;
   }
}
body header h1{
   text-align: center;
   font-size: 50px;
   font-family: 'Times New Roman';
   background: radial-gradient(circle, rgba(21,205,244,1) 9%, rgba(0,9,237,1) 100%);
   animation-name: colorLetra;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}
.claseH1{
   text-align: center;
   font-size: 50px;
   font-family: 'Times New Roman';
   background: radial-gradient(circle, rgba(21,205,244,1) 9%, rgba(0,9,237,1) 100%);
   animation-name: colorLetra;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.publicidad{
   position: fixed;
   top: 200px;
   right: 100px;
   width: 150px;
   height: 150px;
   background-color: burlywood;
   border: 1px solid black;
}
.encabezadoPagina{
   text-align: center;
   font-size: 50px;
   font-family: 'Times New Roman';
   background-color: cornflowerblue;
}
.tamañoImagen2{
   width: 400px;
   height: 200px;
   transition: all 3s;
}
header a img:hover{
   width: 600px;
   height: 300px;
   filter: grayscale();
   transform: rotate(360deg);
}
.tamañoImagen3{
   width: auto;
   height: auto;
}
.tamañoImagen4{
   width: 260px;
   transition: width 1s;
}
.flexboxImagenes{
   background-color: aquamarine;
   padding: 5px;
   margin: 5px 0px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items:flex-end;
}
.centrarTexto{
   text-align: center;
}
.centrar{
   justify-content: space-around;
}
.flexboxContactosDiv {
   display: flex;
   flex-direction: column;
   transition: all 2s;
   
}
section article form div input:focus{
   width: 300px;
   font-size: 15px;
}
.flexboxImagenesDiv{
   display: flex;
   flex-direction: column;
   align-items: center; }
.flexboxImagenesDiv img:hover{
   width: 340px;
}
.contenedor{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 0.5fr;
   background-color: aqua;  
}
.contenedor ul p{
   color: black;
}
.contenedor ul li a{
   color: black;   
}
footer ul{
   margin: 0px;
   padding: 0px;
}
.contenedorHijo{
   align-self: center;
}
.flexboxContactos{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background: linear-gradient(0deg, rgba(208,53,22,1) 0%, rgba(0,9,237,1) 0%, rgba(21,205,244,1) 99%); 
}

@media screen and (max-width: 500px) {
   .menu li{
      display: flex;
      flex-direction: column;
   }
   .tamañoImagen2{
      width: 240px;
      height: 125px;
   }
   .flexboxImagenes{
      background-color:white;
   }
   body header h1{
      font-size: 40px;
   }
   header a img:hover{
      width: 240px;
      height: 125px;
      filter: grayscale();
      transform: rotate(360deg);
   }
}