@charset "UTF-8";
/* maps: 1º se declara el mapa*/
/* despues se declara el bucle para asignar los valores del map*/
.boton1 {
  background-color: red; }

.boton2 {
  background-color: yellow; }

.boton3 {
  background-color: black; }

.boton4 {
  background-color: #4f70db; }

/* map-get*/
.navegacion {
  background-color: #4f70db; }

.menu {
  font-family: "times new roman"; }

/* extend*/
.imagen, .bordeImagenEmpresa {
  padding: 5px;
  width: 400px;
  height: 280px; }

/*con @extend se traen los estilos a extender*/
.bordeImagenEmpresa {
  border: 2px solid black;
  margin: 0px;
  padding: 0px; }

/* mixins*/
.tamañoInner {
  height: 240px;
  width: 340px; }

.submenu {
  z-index: 1; }

.zIndex {
  z-index: 0; }

.carousel {
  display: flex;
  background-color: bisque;
  justify-content: center;
  align-items: center; }

.margenes {
  padding: 0px;
  margin: 0px; }

.margenes2 {
  padding: 2px 0px;
  margin: 0px; }

.imagenFondo {
  background-image: url(../imagenes/fotoferreteria5-min.png);
  background-size: 100% 380px; }

.bordeImagen {
  border: 2px solid black;
  margin: 0px;
  padding: 0px; }

.nosotros {
  background-color: #91e9e9;
  margin: 15px;
  padding: 20px 70px 70px 70px;
  border: 1px solid black; }

.submenu {
  display: none;
  position: absolute;
  left: 160px; }

.clasePrueba {
  display: flex; }

.claseH1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman';
  background: radial-gradient(circle, #15cdf4 9%, #0009ed 100%);
  animation-name: colorLetra;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

.encabezadoPagina {
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman';
  background-color: cornflowerblue; }

.tamañoImagen2 {
  width: 340px;
  height: 240px;
  transition: all 3s; }

.tamañoImagen3 {
  width: auto;
  height: auto; }

.tamañoImagen4 {
  width: 260px;
  transition: width 1s; }

.flexboxImagenes {
  background-color: aquamarine;
  padding: 5px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end; }

.centrarTexto {
  text-align: center; }

.centrar {
  justify-content: space-around; }

.flexboxContactosDiv {
  display: flex;
  flex-direction: column;
  transition: all 2s; }

.flexboxImagenesDiv {
  display: flex;
  flex-direction: column;
  align-items: center; }

.buscar {
  display: flex;
  align-items: center;
  justify-content: left; }

.contenedor {
  background-color: aqua; }

.contenedorHijo {
  align-self: center;
  align-items: center; }

.flexboxContactos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(0deg, #d03516 0%, #0009ed 0%, #15cdf4 99%); }

.colorLetra {
  color: black; }

.margenInferior {
  margin-top: 5px;
  margin-bottom: 5px; }

.colorLetra2 {
  color: white; }

.bordeBuscar {
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 10px; }

.colorFondo {
  background: radial-gradient(circle, #15cdf4 9%, #0009ed 100%); }

.tipoLetra {
  font-family: 'Times New Roman';
  text-decoration: underline; }

body footer {
  background-color: aqua; }
  body footer ul {
    align-self: center; }
    body footer ul li a {
      color: black; }
    body footer ul p {
      color: black; }

footer ul {
  margin: 0px;
  padding: 0px; }

@keyframes colorLetra {
  0% {
    color: #d60a0a; }
  40% {
    color: #aa3113; }
  70% {
    color: black; }
  100% {
    color: black; } }

@media screen and (max-width: 500px) {
  .menu li {
    display: flex;
    flex-direction: column; }
  .tamañoImagen2 {
    width: 240px;
    height: 125px; }
  .flexboxImagenes {
    background-color: white; }
  body header h1 {
    font-size: 40px; }
  header a img:hover {
    width: 240px;
    height: 125px;
    /*filter: grayscale();*/
    transform: rotate(360deg); } }

main h1 {
  text-align: center; }

body header img {
  margin: 10px; }

footer p {
  color: aqua; }

.nosotros h3 {
  display: flex;
  width: auto;
  height: auto;
  color: blue;
  background-color: beige;
  overflow: auto; }

.navegacion ul li a {
  color: black; }

.menu li {
  display: inline-block;
  position: relative;
  font-size: 25px;
  padding: 0 10px; }

.menu li a {
  text-decoration: none; }

.menu li a:hover {
  background-color: cornflowerblue; }

.submenu li {
  display: block;
  background-color: bisque; }

.menu li:hover ul {
  display: block; }

body header h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman';
  background: radial-gradient(circle, #15cdf4 9%, #0009ed 100%);
  animation-name: colorLetra;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

header a img:hover {
  width: 600px;
  height: 300px;
  /*filter: grayscale();*/
  transform: rotate(360deg); }

.flexboxImagenesDiv img:hover {
  width: 340px; }

.contenedor ul p {
  color: black; }

.contenedor ul li a {
  color: black; }

section article form div input:focus {
  width: 300px;
  font-size: 15px; }
