


body{
    footer{
        background-color: aqua;
        ul{
            align-self: center;
            li{
               a{
                   color: $colorblack;
               }
            }
            p{
                color: $colorblack;
                
            }
        }
    }
}
