
$coloraqua: aqua;
$colorblack: black;

/* maps: 1º se declara el mapa*/
$botones: (
  boton1:red,
  boton2: yellow,
  boton3: black,
  
);
/* despues se declara el bucle para asignar los valores del map*/
@each $red, $color in $botones {
    .#{$red} {
      background-color: $color;
    }
  }
/* map-get*/
$estilos: (
    centrar: center,
    fuenteEstilo: "times new roman",
    colorFondo:rgb(79, 112, 219) ,
);

.navegacion {
        background-color: map-get($estilos, colorFondo);
        
    }

.menu{
    font-family: map-get($estilos, fuenteEstilo );
}

/* extend*/
.imagen{
    padding: 5px;
    width: 400px;
    height: 280px;
 }
 /*con @extend se traen los estilos a extender*/
 .bordeImagenEmpresa{
    @extend .imagen;
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
}

/* mixins*/
@mixin sizes($ancho, $alto) {
  height: $alto;
  width: $ancho;
}
.tamañoInner{
  @include sizes(340px,240px)
}
.submenu{
  z-index: 1;
}
.zIndex{
  z-index: 0;
}
.carousel {
  display: flex;
  background-color: bisque;
  justify-content: center;
  align-items: center;  
}
.margenes{
  padding: 0px;
  margin: 0px;
}
.imagenFondo{   
  background-image: url(../imagenes/fotoferreteria5-min.png);
  background-size: 100% 380px;
}
.bordeImagen{
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
}
.nosotros{
  background-color:rgb(145, 233, 233);
  margin: 15px;
  padding: 20px 70px 70px 70px;
  border: 1px solid black;
}
.submenu{
  display: none;
  position: absolute;
  left: 160px;
}
.clasePrueba{
  display: flex;
}
.claseH1{
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman';
  background: radial-gradient(circle, rgba(21,205,244,1) 9%, rgba(0,9,237,1) 100%);
  animation-name: colorLetra;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.encabezadoPagina{
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman';
  background-color: cornflowerblue;
}
.tamañoImagen2{
  width: 340px;
  height: 240px;
  transition: all 3s;
}
.tamañoImagen3{
  width: auto;
  height: auto;
}
.tamañoImagen4{
  width: 260px;
  transition: width 1s;
}
.flexboxImagenes{
  background-color: aquamarine;
  padding: 5px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-end;
}
.centrarTexto{
  text-align: center;
}
.centrar{
  justify-content: space-around;
}
.flexboxContactosDiv {
  display: flex;
  flex-direction: column;
  transition: all 2s;  
}
.flexboxImagenesDiv{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.buscar{
  display: flex;
  align-items: center;
  justify-content: left;
}
.contenedor{
  background-color: aqua;  
}
.contenedorHijo{
  align-self: center;
  align-items: center;
}
.flexboxContactos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(0deg, rgba(208,53,22,1) 0%, rgba(0,9,237,1) 0%, rgba(21,205,244,1) 99%); 
}